name: Node CI
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
    - run: yarn
    - run: yarn lint
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 10.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: run ci
      run: |
        yarn
        yarn build
        yarn lint
        yarn test --coverage
      env:
        CI: true
    - name: Coverage
      uses: codecov/codecov-action@v1
      if: matrix.node-version == '12.x'
    - name: setup npm registry login
      run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
    - name: publish
      if: contains(github.event.head_commit.message, '/publish-canary') && matrix.node-version == '12.x'
      env:
        CURRENT_BRANCH: ${{ github.ref }}
      run: yarn publish-canary --yes
