name: Node CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: find json
      run: find ./packages -name '*.json'
      if: github.ref == 'master' && matrix.node-version == '12.x'
    - name: run ci
      run: |
        yarn
        yarn build
        yarn lint
        yarn test
      env:
        CI: true
    - name: setup github packages as npm registry
      run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc
    - name: publish
      if: github.ref == 'refs/heads/master' && matrix.node-version == '12.x'
      env:
        CURRENT_BRANCH: ${{ github.ref }}
      run: yarn publish-canary --yes
